input{
    width: 100%;
    padding: 0.7em ;
    border-radius: 4px 0 0 4px;
    height: $heightBrowser;
    color: $gray-dark;
    &::placeholder{
        color: $gray-medium;
    }
}

button#icon-search-wrap{
    width: $heightBrowser;
    background-color: $gray-light;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}