.detail-container{
    display: flex;
    background-color: white;
    padding: $paddingContainerDetailItem;

    #info-item-region{
        display: flex;
        flex-direction: column;
        width: $widthImageDetail;
        margin-right: 16px;

        img{
            max-width: $widthImageDetail;
            margin: 0 auto;
            margin-bottom: 16px;
        }


    }

    #description-item-region{
        h1{
            font-size: 28px;
            margin-bottom: 32px;
        }

        p{
            overflow: hidden;
        }
    }

    #features-item-region{
        flex: 1;

        span{
            font-size: 14px;
        }

        h3{
            margin-top: $paddingContainerItemList;
            font-size: 24px;
        }

        h1{
            margin: $paddingContainerDetailItem 0;
            font-size: 46px;
        }
        button{
            width: 100%;
            background-color: $blue;
            color: white;
            padding: 1em;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
        }
    }
}