.header-container {
    background-color: $yellow;
    height:4em;
    width: 100%;
    align-items: center;

    #logo-principal{
        grid-column-start: 2;
        display: flex;
        height: $heightBrowser;
    }

    #browser{
        grid-column: 3/12;
        display: flex;
    
        & > input{
            $displacement: 1.2em;
            width: calc(100% + #{$displacement}) !important;
            margin-left: -$displacement;
        }
    
    }

}
