.item-list-container{
    padding: 0 1em;

    & li:last-child div{
        border-bottom: none !important;
    }
}

.message-info{
    position: absolute;
    text-align: center;
    width: 100%;
    color: $gray-medium;
    font-size: 18px;
    opacity: 0.5;
}