.item-container{
    padding: $paddingContainerItemList 0;
    display: flex;
    border-bottom: 1px solid $gray-light;


    & a {
        width: $widthHeightItemListImage;
        height: $widthHeightItemListImage;
        margin-right: $paddingContainerItemList;
        border-radius: 4px;
        text-align: center;

        img{
            height: 100%;
            max-width: 100%;
            border-radius: 4px;
        }
    }

    & > div#info-search{
        flex: 1;
       
        h3{
            font-size: $fontSizePriceItem;
            color: $gray-dark;
            margin-bottom: $marginBottomPriceItemList;
            position: relative;

            span{
                font-size: 12px;
                position: absolute;
                bottom: 0;
                right: 7em;
                color: $gray-medium;
            }
        }

        p{
            color: $gray-dark;
            font-size: $fontSizeTitleItem;
        }
    }
    
}