.path-container{
    padding: 16px 0;
    font-size: 14px;
    

    & span{
        color: $gray-medium;

        &::after{
            content: '  >  ';
        }

        &:last-child{
            font-weight: bold;

            &::after{
                content: none !important;
            }
        }
    }
}