*{
    margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
    box-sizing: border-box;
    color: $gray-dark;
}

.principal-container{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;

    & > .rout-container{
        background-color: $gray-light;
        flex: 1;
        overflow: auto;
        @include scroll-style;
    }
}

.wrap-grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0 16px;
    padding: 0 3em;
    grid-auto-rows: minmax(auto, auto);
    grid-row: auto;
    align-items: stretch;
    font-family: Arial, Helvetica, sans-serif;
}

.grid-child{
    grid-column-start: 2;
    grid-column: 2/12;
    border-radius: 4px;
}