@mixin scroll-style {
    &::-webkit-scrollbar {
        width: 6px;
        height: 4px;
    }
    &::-webkit-scrollbar-track {
      background-color: rgba($color: #000000, $alpha: 0.04);
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #b9b9b9;
      border-radius: 10px;
    }    

    @content;
}