
// Colors
$yellow: #FFE600;
$gray-dark: #333333;
$gray-medium: #999999;
$gray-light: #EEEEEE;
$blue:#3483FA;

$heightBrowser: 36px;
$widthHeightItemListImage: 180px;
$paddingContainerItemList: 16px;
$marginBottomPriceItemList: 32px;
$fontSizePriceItem:24px;
$fontSizeTitleItem:18px;

$widthImageDetail:680px;
$paddingContainerDetailItem:32px;
